[Desktop Entry]
Type=Application
Name=Orcshot
Comment=Screenshot capture and annotation tool
Exec=orcshot %u
Icon=orcshot
Terminal=false
StartupNotify=false
StartupWMClass=orcshot
Categories=Graphics;
MimeType=application/x-orcshot;
