[Desktop Entry]
Type=Application
Name=Orcshot
Comment=Screenshot capture and annotation tool
Exec=sh -c 'systemctl --user start orcshot.service; exec /usr/bin/orcshot "$@"' sh %u
Icon=orcshot
Terminal=false
StartupNotify=false
StartupWMClass=orcshot
Categories=Graphics;
MimeType=application/x-orcshot;
